name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Define release version, e.g. v1.0.0'
        required: false
        default: 'master'
      # build_platform:
      #   description: 'Choose build platform'
      #   required: true
      #   default: 'linux-amd64'
      #   type: choice
      #   options:
      #     - linux-amd64
      #     - windows-amd64
      #     - darwin-arm64
      #     - all
jobs:
  build-and-release:
    name: Build for ${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
            artifact_name: linux-amd64
          - os: windows
            arch: amd64
            artifact_name: windows-amd64
          - os: darwin
            arch: arm64
            artifact_name: darwin-arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: true 

      # - name: Install Make (if needed)
      #   run: |
      #     if ! command -v make &> /dev/null; then
      #       sudo apt update && sudo apt install -y make
      #     fi

      - name: Build with Cross-Compilation
        run: |
          export GOOS=${{ matrix.os }}
          export GOARCH=${{ matrix.arch }}
          
          BINARY_NAME="rtsp-to-webrtc"
          if [ "${{ matrix.os }}" = "windows" ]; then
            BINARY_NAME="rtsp-to-webrtc.exe"
          fi
          
          make build

          mkdir -p release
          mv ./bin/$BINARY_NAME ./release/
          ls -la ./release/

      - name: Package Artifacts
        id: package
        run: |
          TAG_NAME="${{ github.event.inputs.release_version || github.ref_name }}"
          if [[ "$TAG_NAME" == 'master' ]]; then
            SHORT_HASH=$(git rev-parse --short HEAD)
            TAG_NAME="dev-${SHORT_HASH}"
          fi
          
          FILENAME="rtsp-to-webrtc-${TAG_NAME}-${{ matrix.artifact_name }}.tar.gz"
          
          cd release
          tar -czf ../$FILENAME *
          echo "filename=$FILENAME" >> $GITHUB_OUTPUT

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          body: "Release ${{ github.event.inputs.release_version || github.ref_name }}"
          tag_name: ${{ github.event.inputs.release_version || github.ref_name }}
          files: ${{ steps.package.outputs.filename }}
          append_body: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
